{:deps
 {com.googlecode.xades4j/xades4j {:mvn/version "2.3.0"}
  org.clojure/data.xml {:mvn/version "0.0.8"}}
 :aliases
 {:test 
  {:main-opts ["-m" "kaocha.runner"]
   :extra-deps {lambdaisland/kaocha {:mvn/version "1.91.1392"}}}
  :codox
  {:extra-deps {codox/codox {:mvn/version "0.10.8"}}
   :exec-fn codox.main/generate-docs
   :exec-args {:source-paths ["src"]
               :namespaces [com.gaumala.xml
                            com.gaumala.sri.clave-acceso
                            com.gaumala.sri.comprobantes
                            com.gaumala.sri.decoders
                            com.gaumala.sri.encoders
                            com.gaumala.sri.predicates
                            com.gaumala.sri.xades-bes
                            com.gaumala.utils.base64
                            com.gaumala.utils.spec]
               :output-path "docs"
               :source-uri "https://github.com/GAumala/SRI/blob/main/{filepath}#L{line}"}}}}
